
body{
      overflow-x: hidden; /* Oculta a rolagem horizontal */

}
#menubtn{
    display: block;
    cursor: pointer;
    position: absolute;
    right: 15%;
}
nav ul {
 position: absolute;
 right: 0;
 top: 99%;
 /*background-color: #363d42f1;*/ background: white;
 border-left:2px solid #0c2e8a;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  gap: 30px;
  padding-top: 30px;
  width: 0%;
  height: 100vh;
  transition: 1s ease-in-out;
}
nav ul li a {
  text-decoration: none;
color: #0c2e8a;
}

#Sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
width: 100%;
margin-left: 0%;
text-align: justify;
}
#Sobre p {
  padding: 3px;
}
#Sobre img {
  width: 98%;
  margin-left:1%;
}
#Sobre h1 {
  margin-left: 0.9%;
}
#values {
  gap: 15px;
}
#valueitens {
    width: 85%;
    gap: 10px;
    text-align: center;
  margin-left: 10%;
  border-radius: 5px;

}
#valueitens img{
margin-left: 1%;
border-radius:2px ;
width: 35%;
} 
#Serviços{
    width: 100%;
    margin-left: 0%;
    color: #363d42f1
}
#Serviços h1{
  margin-left: 1%;
} 

#ServiçosConteineritens{
    display: flex;
    width: 90%;
    margin-bottom: 25px;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 1px 2px 3px #50d8af;
    color: #363d42f1;
    /* rgb(154, 153, 153)*/
    transition: 1s;
}
textarea{
margin-left: 6%;
width: 80%;
border: 2px solid #0c2e8a;
border-radius: 5px;
}
#enviar{
    margin-left: 20%;
}
#contacteItens{
    text-align: center;
    width:27%; 
    height: auto;
    font-size: 7px;
}
#contacteItens img{
height: 40px;
}

#contacteItens span{
text-align: center;
}
footer{
  background-color: #0c2e8a;
  color: #50d8af;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer p{
font-size: 11px;
    margin-top:0px;

}
.media{
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: smaller;
}
.media img{
margin-top: 3px;
height: 20px;
}